.main {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  min-height: 80vh;
  position: relative;
}

.creation-container {
  display: flex;
  width: 70%;
  margin-top: 20px;
}

.creation {
  display: flex;
  flex-direction: column;
  width: 100%;
}